body{
margin:0;
font-family:Arial, sans-serif;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

.container{
max-width:700px;
margin:auto;
padding:30px;
}

.topo{
text-align:center;
margin-bottom:30px;
}

.pergunta{
background:rgba(255,255,255,0.05);
padding:15px;
border-radius:12px;
margin-bottom:15px;
}

.btn{
background:#13e0d0;
color:#000;
padding:15px;
border:none;
border-radius:10px;
font-size:16px;
width:100%;
cursor:pointer;
}

.resultado{
margin-top:30px;
background:white;
color:#000;
padding:20px;
border-radius:12px;
}

